/*FONTS */
@font-face {
    font-family: "Nunito";
    src: url("../fonts/NUNITO-REGULAR.TTF");
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("../fonts/OpenSans-CondLight.ttf");
}

body {
    background: url("../img/velo404.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    vertical-align: left;
    margin: 0;
}

body p {
    background-color: rgba(0,0,0,0.3);
    color: #72bbf9;
    font-family: "Nunito", sans-serif;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 150px;
    width: 100%; 
}

h1 {
    color: #72bbf9;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    font-size: 2.5em;
    padding-right: 5px;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    margin-top: 30px;
}

/* taille d'écran mobile min */
@media only screen and (min-width: 360px) {
    body {
        background-position: right bottom;
    }

    body p {
        font-size: 1.5em;
        top: 300px;
        position: relative;
    }
}

/* Taille d'écran mobile max */
@media only screen and (min-width: 360px) {
    body {
        background-position: right bottom;
    }

    body p {
        font-size: 1.5em;
        top: 300px;
        position: relative;
    }
}

/* Taille d'écran mobile tablette */
@media only screen and (min-width: 360px) {
    body {
        background-position: right bottom;
    }

    body p {
        font-size: 2.3em;
        top: 300px;
        position: relative;
    }
}
