/*Formulaire*/

form{
	font-size:1.5em;
	color: #72bbf9;
	text-align: center;
}

input[type=text]{
  width: 15em;
  padding-left: 0.5em;
  margin-bottom: 0.2em;
  border: 2px solid #72bbf9;
  font-size: 0.8em;
  text-align : left;
	color : black;
}

input[type=submit]{
	background-color: #72bbf9;
	color : white;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/* Média queries */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media screen and (min-width:992px){
	input[type=text]{
		width: 20em;
	}

	h1{
	font-size: 2.5em;
	color: #5a96c8;
	}

	h2{
	font-size:1.8em;
	color: #72bbf9;
	}
  
}
