/*FONTS */
@font-face {
    font-family: "Nunito";
    src: url("../fonts/NUNITO-REGULAR.TTF");
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("../fonts/OpenSans-CondLight.ttf");
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
	font-family: "Open Sans Condensed", sans-serif;
	background: url(../img/velo.jpg) no-repeat;
    background-size: cover;
}

form {
    width: 60%;
    background-color: #fefefe;
    padding:2%;
    margin: 5% auto;
    border: 1px solid #888;
   
}

form label{
    font-family: nunito;

}

input[type=text], input[type=email], input[type=password], input[type=tel] {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
    display: inline-block;
    box-sizing: border-box;
}

input{
     border: 1px solid #ccc;
    border-right-color: #76BBF9; 
}

input[name=login]{
    background: url(../img/profilBlue.svg) no-repeat;
    background-position: 99% 3px;
    background-size: 20px;
}

input[type=password]{
    background: url(../img/password.svg) no-repeat;
    background-position: 99% 4px;
    background-size: 20px;  
}

input[type=email]{
    background: url(../img/mail.svg) no-repeat;
    background-position: 99% 3px;
    background-size: 20px;  
}
input[type=tel]{
    background: url(../img/phone.svg) no-repeat;
    background-position: 99% 4px;
    background-size: 20px; 
}


form button {
    width: 100%;
    color: white;
    background-color: #76BBF9;
    padding: 5px 10px;
    margin: 8px 0;
    border: none;
    
}

.g-recaptcha {
    margin-bottom: 10px;
}

button[type=submit]+a+span {
    float: right;
}

button[type=submit]+a{
    width: auto;
    background-color: #ccc;
    color: white;
    padding: 5px 10px;
    
}

@media screen and (max-width: 575px) {
	.g-recaptcha {
    	transform:scale(0.77);
    	-webkit-transform:scale(0.77);
    	transform-origin:0 0;
    	-webkit-transform-origin:0 0;
    }
}

@media screen and (max-width: 460px) {
    form {
        width: 100%;
        margin: auto;
        
    }
     button[type=submit]+a+span{
        display: block;
        float: none;
    	margin-top: 16px;
    }
    button[type=submit]+a {
        display: block;
        width: 100%;
        text-align: center;
    }
    
}