/*FONTS */
@font-face {
    font-family: "Nunito";
    src: url("../font/NUNITO-REGULAR.TTF");
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("../font/OpenSans-CondLight.ttf");
}


html, body {
	background: #ededed;
	width: 100%;
	font-size:.9em;
}

/*titre*/
h1,h2{
	font-family: Nunito;
	text-align: center;
}

h1{
	font-size: 2em;
	color: #5a96c8;
}

h2{
	font-size:1.5em;
}

h3{
	font-size:1.2em;
	text-align: left;
}


/*##############################HEADER*/
header{
	height:55px;
	background: url(../img/fond-mobile.jpg) no-repeat;
	background-position-y: -53px;
}

header>div:first-of-type{
	height:100%;
	text-align: center;
}

nav{
	height: 100%;
}

/*logo*/
header>div:first-of-type img{
	max-width: 100%;
	height: 100%;
}

/*profil*/
header>div+div{
	height:100%;
}

/*#################################alarme connectée*/
body>section:first-of-type{
	height:30px;
	text-align: center;
}


/*############################CORPS */

/*Paramètre gauche*/
body>form>div>section:nth-of-type(1){
	height:150px;
	font-family: Nunito;
	align-items: center;
}

body>form>div>section:nth-of-type(1) div{
	width:48%;
	text-align: right;
}


body>form>section>section>button{
	margin-top:20px;
	margin-bottom:20px;
}

body>form>div>section:nth-of-type(1) h3{
	margin:5%;
}

body>form>div>section:nth-of-type(1) p{
	padding-left:40%;
}

/*Paramètres droite*/

body>form>div>section:nth-of-type(2){
	height:100%;
	font-family: Nunito;
	
}


body>form>button[type=submit]{
	background: url(../img/floppy.svg) no-repeat;
}

body>form>div>section:nth-of-type(2) p{
	margin:5%;
}

body>form>div>section:nth-of-type(2) h3{
	margin:5%;
	text-align: left;
}
/*media queries*/

@media screen and (min-width: 390px){
	.wrap{
	width:90%;
	margin:auto;
	}

}


@media screen and (min-width:720px) and (max-width:992px){
	/*arriere plan*/

	header{
	height:55px;
	background: url(../img/fond-mobile.jpg) no-repeat;
	background-size:cover;
	}

	h1{
		font-size: 2.5em;
	}

	h2{
		font-size: 1.5em;
		text-align: center;
	}
	h3{
		font-size: 
	}

}

@media screen and (min-width:992px){
	/*arriere plan*/
	header{
		height:115px;
		background: url(../img/velo.jpg) no-repeat;
		background-size: cover;
		background-position-y: -258px;
	}


}

@media screen and (min-width:1400px){
	/*enregistrer trajet*/
	body>div>section>form {
		padding: 2% 0;
	}

}

@media screen and (min-width:1700px){
	/*arriere plan*/
	header{
		height:160px;
	}

	/*données + enregistrer trajet côte à côte*/
	body>div>section:nth-of-type(1),body>div>section:nth-of-type(2){
		height: 270px;
	}
}