/*FONTS */
@font-face {
    font-family: "Nunito";
    src: url("../font/NUNITO-REGULAR.TTF");
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("../font/OpenSans-CondLight.ttf");
}


html, body {
	background: #ededed;
	width: 100%;
	font-size:.9em;
}

/*titre*/
h1,h2{
	font-family: Nunito;
	text-align: center;
}

h1{
	font-size: 2.5em;
	color: #5a96c8;
}

h2{
	font-size:1.8em;
	color: #72bbf9;
}


/*##############################HEADER*/
header{
	height:55px;
	background: url(../img/fond-mobile.jpg) no-repeat;
}

header>div:first-of-type{
	height:100%;
	text-align: center;
}

nav{
	height: 100%;
}

/*logo*/
header>div:first-of-type img{
	max-width: 100%;
	height: 100%;
}
/*profil*/
header>div+div{
	height:100%;
	text-align: center;
}
/*image profil*/
header>div+div img{
    max-width: 34px;
	height: auto;
	margin-top: 8px;
}

/*#################################alarme connectée*/
body>section:first-of-type{
	height:30px;
	background: white;
	text-align: center;
}


/*############################CORPS */




/*données*/
body>div>section:nth-of-type(1){
	height:200px;
	font-family: Nunito;
	display: flex;
	align-items: center;
}
body>div>section:nth-of-type(1) div{
	width:48%;
	text-align: center;
}

#rondVitesse,#rondDistance{
	width:90px;
	height: 90px;
	border-radius: 50%;	
	margin : 0 auto 5% auto;

	-webkit-box-shadow: 4px 2px 4px -3px rgba(9,3,38,1);
	-moz-box-shadow: 4px 2px 4px -3px rgba(9,3,38,1);
	box-shadow:4px 2px 4px -3px rgba(9,3,38,1);
}
#rondVitesse{
	color:#97cff2;
	border: 4px solid #97cff2;
}
#rondDistance{
	color:white;
	border: 4px solid #72bbf9;
	background:#72bbf9;
}
#rondVitesse span:first-of-type,#rondDistance span:first-of-type{
	position: relative;
	top: 9px;
	left: 0;
	font-size: 3.3em;
}

#rondVitesse span:last-of-type, #rondDistance span:last-of-type{
	display: block;
	position: relative;
	top: -3px;
	left: 0;
}



/*Enregistrer un trajet*/

body>div>section:nth-of-type(2){
	height:100%;
	background: white;
	text-align: center;
}
body>div>section:nth-of-type(2) form {
	width: 54%;
	margin:auto;
	padding: 3% 0;
}

body>div>section:nth-of-type(2) button{
	width: 27%;
	height: 58px;
	border: 0;
}


body>div>section:nth-of-type(2) button#play{	
	background: url(../img/play.svg) no-repeat;
	background-position: right;
}

body>div>section:nth-of-type(2) button[type=submit]{
	background: url(../img/floppy.svg) no-repeat;
}

body>div>section:nth-of-type(2) p{
	margin:5%;
}

body>div>section:nth-of-type(2) form label{
	display: block;
}


/*media queries*/

@media screen and (min-width: 390px){
	.wrap{
	width:90%;
	margin:auto;
	}
}


@media screen and (min-width:992px){
	/*données + enregistrer trajet côte à côte*/
	body>div>section:nth-of-type(1),body>div>section:nth-of-type(2){
		width: 48%;
		background:white;
		margin: 1%;
		height: 240px;
	}

	/*enregistrer trajet*/
	body>div>section:nth-of-type(2) button{
		width: 14%;
		height: 40px;
	}
}


