@font-face {
    font-family: "Nunito";
    src: url("../font/NUNITO-REGULAR.TTF");
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("../font/OpenSans-CondLight.ttf");
}

html {
  font-size:100%;
  width: 100%;
  height: 100%;
}

body {
	background: url("../img/velo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Nunito", sans-serif;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
}

#avertissement {
	font-family: "Open Sans Condensed", sans-serif;
	text-align: center;
	z-index: 1;
	padding-top: 0.5em;
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */

	h1 {
		font-size: 1.3rem;
		font-family: "Nunito", sans-serif;
		padding-top: 2em;
	}

	h2 {
		font-size: 1em;
		font-family: "Nunito", sans-serif;
		padding-left:2em;
		padding-top:4em;
	}

	p {
		font-family: "Open Sans Condensed", sans-serif;
		font-size:1em;
		padding-top:5em;
	}

	#avertissement {
		font-size: 0.5em;
		height: 4em;
	}

}


/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */

	body {
		padding-left:4em;
	}

	h1 {
		font-size: 4rem;
		font-family: "Nunito", sans-serif;
	}

	h2 {
		font-size: 3em;
		font-family: "Open Sans Condensed", sans-serif;
		padding-top:3em;
	}

	p {
		font-family: "Nunito", sans-serif;
		font-size:2em;
		padding-top:3em;
	}
	#avertissement {
		height: 2.2em;
	}

	.mail-input {
		margin-left:2em;
	}

}


strong {
	color : #72bbf9;
}

input {
	font-size: 110%;
	width: 470px;
	height: 40px;
	position: relative;
}

#confirm {
	width: 80px;
	height: 45px;
	position: relative;
}


button {
	color:#72bbf9;
}