html,body{
	display: flex;
	align-items: center;
	width:100%;
	height: 100%;
	background: url(../img/velo.jpg) ;
	background-size: cover;
}

header{
	height: auto;
}


header img{
	width: 100%;
	height: 60%;
}

header section{
	width:90%;
	background:rgba(0,0,0,0.4);
	color:white;
	text-align: center;
	padding:4% 4%;
	margin: auto;
}


header section a {
	display: block;
	width: 70%;
	background: #72BBF9;
	color:white;
	padding: 2% 5%;	
	margin: 4% auto;
}






@media screen and (min-width:690px){
	header img,header section{
		width: 49%;
		display: inline-block;
		vertical-align: middle;
		padding: 3%;
	}
}






