/*FONTS */
@font-face {
    font-family: "Nunito";
    src: url("../fonts/NUNITO-REGULAR.TTF");
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("../fonts/OpenSans-CondLight.ttf");
}

html, body {
	height: 100%;
	margin: 0;
	align-items: center;
	font-family: "Open Sans Condensed", sans-serif;
	background: #F1F1F1;
}

header {
	display: flex;
	align-items: center;
	height: 100vh;
	background: url(../img/velo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

header img {
	width: 100%;
	height: auto;
}

header section {
	width: 90%;
	background: rgba(0,0,0,0.4);
	color: white;
	text-align: center;
	padding: 4% 4%;
	margin: 2%;
	font-size: 150%;
}

header section a {
	display: block;
	width: 70%;
	background: #72BBF9;
	color: white;
	padding: 2% 5%;
	margin: 4% auto;
	border: none;
}

nav {
	background: #72BBF9;
	z-index: 100;
	font-family: "Nunito", sans-serif;
}

nav a {
	color: white;
}

nav.fixed {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

nav img {
	height: 100%;
}

#collapse {
	z-index: 1000;
}

header a div {
	position: absolute;
	text-align: center;
	color: white;
	top: 90%;
	left: 50%;
}

main h1 {
	font-family: "Nunito", sans-serif;
	text-align: center;
	padding-top: 100px;
	margin-bottom: 30px;
}

main p {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	text-align: justify;
}

.img {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 100%;
}

footer::before {
	content: "";
	position: absolute;
	width: 100%;
    height: 300px;
	background: url("../img/footer-desktop.png");
    background-size: cover;
	background-repeat: no-repeat;
	background-position-x: right;
}

footer div {
	margin-top: 60px;
}

footer a {
	color: white;
}

@media screen and (max-width: 690px) {
	header {
		display: block;
	}
	
	header img, header section {
		padding: 3%;
	}
	
	header img {
		height: auto;
	}
	
	main p {
		font-size: 15px;
	}
	footer::before {
		background: url("../img/footer-mobile.png");
	}
}


/**************ANIMATION FLECHE**************/
.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
} 
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
} 

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}
