/*FONTS */
@font-face {
    font-family: "Nunito";
    src: url("../font/NUNITO-REGULAR.TTF");
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("../font/OpenSans-CondLight.ttf");
}

body {
	align-items: center;
	font-family: "Open Sans Condensed", sans-serif;
	background: #F1F1F1;
}

header {
	height: 100vh;
	background: url(../img/velo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

header img {
	width: 100%;
	height: 60%;
}

header section {
	width: 90%;
	background: rgba(0,0,0,0.4);
	color: white;
	text-align: center;
	padding: 4% 4%;
	margin: auto;
	font-size: 150%;
}


header section a {
	display: block;
	width: 70%;
	background: #72BBF9;
	color: white;
	padding: 2% 5%;
	margin: 4% auto;
	border: none;
}

i {
	text-align: center;
	color: white;
}

@media screen and (min-width:690px) {
	header img, header section {
		width: 46%;
		display: inline-block;
		vertical-align: middle;
		padding: 3%;
	}
	header section {
		margin: 3%;
	}
}

content h1 {
	font-family: "Nunito", sans-serif;
	text-align: center;
	margin-bottom: 25px;
	margin-top: 50px;
}

.img {
	width: 100%;
}

footer {
	background: #72BBF9;
}