<!DOCTYPE html>
<html lang="fr">
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ByKeeper - Paramétrages</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="img/fav.png" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/styles.css" >
        <link rel="stylesheet" href="css/parametrage_alarme.css" >
        <script src="js/main.js"></script>
      <!--   <script src="js/vendor/modernizr-2.8.3.min.js"></script> -->
    </head>
<body>
	<header>
		<div class="row">
			<!-- Navigation -->
			<nav class="b-nav">
				<li><a class="b-link" href="tableau-bord.html">Tableau de bord</a></li>
				<li><a class="b-link" href="parametrage_alarme.html">Paramétrages</a></li>
				<li><a class="b-link" href="retrouver-velo.html">Retrouver mon vélo</a></li>
			</nav>

			<!-- Burger-Icon -->
			<div class="b-container">
				<div class="b-menu">
				    <div class="b-bun b-bun--top"></div>
				    <div class="b-bun b-bun--mid"></div>
				    <div class="b-bun b-bun--bottom"></div>
				</div>
			</div>
			<div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4" >
				<img src="img/logo2.svg" alt="logo Bykeeper" />
				<div class="toggle toggle--push toggle--push--glow">
					<input type="checkbox" id="toggle--push--glow" class="toggle--checkbox">
					<label class="toggle--btn" for="toggle--push--glow" data-label-on="on"  data-label-off="off"></label>
					<p>Alarme</p>
					<div class="stopFloat"></div>
				</div>
			</div>

			<!-- Profil -->
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<section class="row">
					<section class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<img src="img/Profil.svg" onclick="afficherMenuProfil()">
						<p onclick="afficherMenuProfil()">Profil</p>
					</section>
					<section class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<i class="glyphicon glyphicon-triangle-bottom" onclick="afficherMenuProfil()"></i>
					</section>
					
					<section>
						<ul id="menuProfil">
							<li><a href="donnees-perso.html"> Données personnelles </a></li>
							<li><a href="/"> Déconnexion </a></li>
						</ul>
					</section>
				</section>
			</div>
		</div>
		<!-- menu desktop -->
		<div class="row">
			<nav class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 row">
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><a class="menu-inactive" href="tableau-bord.html">Tableau de bord</a></li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><a class="menu-active" href="parametrage_alarme.html">Paramétrages</a></li>
				<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><a class="menu-inactive" href="retrouver-velo.html">Retrouver mon vélo</a></li>
			</nav>
		</div>
	</header>

	<div class="row">
		<div>
			<button id = "alarme" onclick="location.href='parametrage_alarme.html'"></button>
			<button id = "capteur" onclick="location.href='reglage-capteur.html'"></button>
			<div class="stopFloat"></div>
		</div>
	</div>
	<div class="row">
		<div>
			<i class="glyphicon glyphicon-triangle-bottom"></i>
			<i class="glyphicon glyphicon-triangle-bottom"></i>
		</div>
	</div>
</body>
</html>