/*-----------------------------------
	Structure générales (normalize) 
-------------------------------------*/

h1 {
    margin-bottom: 50px;
}

h2 {
	margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
}

h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

p {
    text-align: justify;
}


/*-----------------------------------
		HEADER 
-------------------------------------*/

header {
    background-size: cover;
}

/*logo*/
img {
	height: 100%;
}
